<IfModule mod_dir.c>
    DirectoryIndex index.php index.html index.htm
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Don't rewrite if the request is for an actual file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all other requests to index.php
    RewriteRule ^(.*)$ index.php [L]
</IfModule>
